body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightpink;
}
.card {
background-color:linear-gradient(to right, #f04671,#f0de3f) fixed;
padding: 20px;
border-radius: 20px;
max-width: min-content;
margin: 30 px;
}
.img {
    width: 200;
    border-radius: 20px;
}
table {
    width: 100;
    margin-top:20px ;

}
th,td {
    border: 10;

}

button {
    padding: 20px;
    margin: 10px;
    cursor: auto;
}
.dark {
    background: none;
}
.dark.card {
    background: local;
}