body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightpink;
}

/* Header */
header {
    background-color:#FFD54F;
    color:white;
    text-align:center;
    padding:25px;

.card {
background:linear-gradient(to right, #f04671,#f0de3f) fixed;
padding: 20px;
border-radius: 20px;
max-width: min-content;
margin: 30 px;
}
.img {
    width: 200;
    border-radius: 20px;
}
table {
    width: 100;
    margin-top:20px ;


}
th,td {
    border: 10;

}


nav ul{
    display:flex;
    justify-content:center;
    gap:25px;
    list-style:none;
    padding:15px;
    margin:0;
    background-color:#FFD54F;
}

nav ul li a {
    text-decoration:none;
    color:#880E4F;
    font-weight: bold;
}

h1 {
    margin:0;
}

h2, h3 {
    color:#FBC02D;
}
/* section */
section {
    background-color:#FFF9C4;
    margin:20px 0;
    padding:20 px;
    border-radius: 8px;

}
/* paragraphs */
p{
    line-height:1.6;
    text-align: justify;
}
/* table */
table{
    width: 100px;
    border-collapse: collapse;
    margin-top: 20px;
}
th{
    background-color:#FBC02D;
    color:white;
    padding:12px;
}

td{
    background-color:#FFFDE7;
    padding:12px;
    text-align: center;
}

table, th, td{
    border: 1px solid #ccc;
}

tr:nth-child(even){
    background-color:#FFF9C4;
}

tr:hover{
    background-color: Lightpink;
}
/ * footer style */
footer{
    text-align:center;
    margin-top:20px;
    padding:10px;
    background-color:#FFD54F;
    color:#880E4F;

button {
    padding: 20px;
    margin: 10px;
    cursor: auto;
}
.dark {
    background: none;
}
.dark.card {
    background: local;

}